

@media only screen and (min-width: 1041px) {
    /* tablets and desktop */
    body{
        margin: 0;
        background-color: #151515;
    }
    
    #wrapper{
        max-width: 1024px;
        background-color: #fff;
        margin: 0 auto;
    }
    #logo {
        text-align: center;
    }
    
    #logo i{
        color: black;
    }
    
    header{
        width: 256px;
        height: 100vh;
        position: fixed;
        background-color: rgb(240, 240, 240);
        box-shadow: 0px 10px 10px 0px;
        z-index: 1;
    }
    .navi{
        height: inherit;
    }
    
    nav{
        text-align: center;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px -2px 5px 2px rgba(0,0,0,0.1) inset;
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
    }
    
    nav ul {
        list-style: none;
        width: inherit;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        position: relative;
        padding: 20px 0px;
    }
    nav ul li a {
        text-decoration: none;
        position: relative;
        font-family: 'Source Code Pro', monospace;
        font-weight: 600;
        opacity: 0.8;
    }
    nav ul li a:hover{
        opacity: 1;
    }
    
     #lServices{
         padding-top: 22px;
         padding-bottom: 22px;
         padding-left: 92px;
         padding-right: 92px;
         border-radius: 5px;
         border-color: #5cb85c;
         background-color: #5cb85c;
         color: white;
    }
    
    #lContact{
        padding-top: 22px;
        padding-bottom: 23px;
        padding-left: 83px;
        padding-right: 83px;
        border-radius: 5px;
        border-color: #f0ad4e;
        background-color: #f0ad4e;
        color: white;
    }
    
    #lPortfolio{
        padding: 22px 76px 22px 75px;
        border-radius: 5px;
        border-color: #0275d8;
        background-color: #0275d8;
        color: white;
    }

    
    a:visited{
        color: blue;
    }
    
    #picMe{
        max-width:100%;
        max-height:100%;
    }
    
     .aboutMe p {
        margin: 5px 0px;
        text-align: center;
         
    }
    
    img#backG {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        animation-name: grayOut;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes grayOut {
        0%{
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
        100%{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    
    #Portfolio{
        width: 75%;
        position:relative;
        left: 256px;
    }
    
    #Portfolio #backG{
        
    }
    
    .siteContainer{
        width:50%;
        height: auto;
        opacity: 0;
        position: relative;
        animation-name: fadeIn;
        animation-duration: 5s;
        animation-timing-function:ease;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }
    
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
           opacity: 1;
        }
    }
    .siteContainer img{
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
        z-index: 1;
    }
    .siteContainer p {
        margin: 0;
        margin-top: -8px;
        padding-top: 2px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #007fff;
        box-shadow: 0px 0px 20px -6px white;
    }
    
    #tempSite p {
        margin: auto;
    }
    
    .siteContainer p a {
        color: aliceblue;
        font-weight: 800;
        text-decoration:underline;
    }
    
    #quoteSite{
        left:;
        top:;
    }
    #twitchSite{
        left: 50%;
        top: -4%
    }
    #wikiSite{
        top: -8%
    }
    #tempSite{
        left: 50%;
        top: -12%;
    }
    
    #Services{
        width: 75%;
        position: relative;
        left: 256px;
    }
    
    #contactMe{
        width: 75%;
        position: relative;
        left: 256px;
    }
    footer{
        text-align: center;
        margin: 15px 0px;
        width: 75%;
        position: relative;
        left: 256px;
    }
    footer a{
        margin: 0px 64px;
        padding: 20px 0px 0px 0px;
    }
   
}

@media only screen and (max-width: 767px) {
    /* phones */

#logo{
    text-align: center;
}
#codeSymbol{
    
}

nav a{
    text-align: center;
}


footer {
    height: 75px;
}

footer a{
    margin: 0px 50px;
    padding: 10px;
}

#socialFooters{
    text-align: center;
}

cite p{
    text-align: center;
    padding-top: 10px;
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}


